{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h1>Faça login ou crie sua conta</h1>
        <hr>
        <div class="row">
            <div class="col">
                <legend>Login</legend>
                <form action="" method="POST" class='border p-3'>
                    {{form_login.csrf_token}}
                    <fieldset>
                        <div class="from-group">
                            {{ form_login.email_login.label(class='form-control-label') }}
                            {% if form_login.email_login.errors %}
                                {{ form_login.email_login(class='form-control is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for erro in form_login.email_login.errors%}
                                        {{erro}}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_login.email_login(class='form-control') }}
                            {% endif %}
                            
                        </div>
                        <div class="from-group">

                            {{ form_login.password_login.label(class='form-control-label') }}
                            {% if form_login.password_login.errors %}
                                {{ form_login.password_login(class='form-control is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for erro in form_login.password_login.errors%}
                                        {{erro}}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_login.password_login(class='form-control') }}
                            {% endif %}

                        </div>
                        <div class="from-group">
                            {{ form_login.lembrar_dados(class='form-check-input') }}  
                            {{ form_login.lembrar_dados.label(class='form-check-label') }}
                        </div>
                    </fieldset>
                    {{ form_login.submit_login(class='btn btn-primary') }}
                </form>
            </div>
            <div class="col">
                <legend>Cadastrar</legend> 
                <form action="" method="POST" class='border p-3'>
                    {{form_criarconta.csrf_token}}
                    <fieldset>
                        <div class="formgroup">
                            
                            <div class="from-group">
                                {{ form_criarconta.username.label(class='form-control-label') }}
                                {% if form_criarconta.username.errors %}
                                    {{ form_criarconta.username(class='form-control is-invalid') }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_criarconta.username.errors%}
                                            {{erro}}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_criarconta.username(class='form-control') }}
                                {% endif %}
                                
                            </div>
                           
                        </div>
                        <div class="formgroup">
                            <div class="from-group">
                                {{ form_criarconta.email_criarconta.label(class='form-control-label') }}
                                {% if form_criarconta.email_criarconta.errors %}
                                    {{ form_criarconta.email_criarconta(class='form-control is-invalid') }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_criarconta.email_criarconta.errors%}
                                            {{erro}}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_criarconta.email_criarconta(class='form-control') }}
                                {% endif %}
                        </div>
                        <div class="formgroup">
                            {{ form_criarconta.password_criarconta.label(class='form-control-label') }}
                            {% if form_criarconta.password_criarconta.errors %}
                                {{ form_criarconta.password_criarconta(class='form-control is-invalid') }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_criarconta.password_criarconta.errors%}
                                            {{erro}}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_criarconta.password_criarconta(class='form-control') }}
                                {% endif %}
                        </div>
                        <div class="formgroup">
                            {{ form_criarconta.confirm_pass.label(class='form-control-label') }}
                            {% if form_criarconta.confirm_pass.errors %}
                                {{ form_criarconta.confirm_pass(class='form-control is-invalid') }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_criarconta.confirm_pass.errors%}
                                            {{erro}}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_criarconta.confirm_pass(class='form-control') }}
                                {% endif %}
                        </div>
                    </fieldset>
                    {{ form_criarconta.submit_criarconta(class='btn btn-danger m-2') }}
                </form>
            </div>
        </div>  
    </div>
{% endblock %}